.calc {
  width: 400px;
  height: 600px;
  background-color: gray;
  margin-left: 400px;
}
#screen {
  width: 380px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
  pointer-events: none;
}
.btn {
  height: 83px;
  width: 77px;
  margin: 10px;
  background-color: antiquewhite;
  
}